# 忽略 application.properties 文件
application.properties

# 忽略目标目录
/target/

# 保留 maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 忽略上传路径的文件
src/main/java/ltd/newbee/mall/common/Constants.java